form
{
	width: 100%;
    position: relative;
    box-sizing: border-box;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
	border-radius:7px;
	padding:0px;
	background-color: #DAE2E9;  
}

form h1
{
    font-size: 16px;
    font-weight: bold;
    color: black;
    padding: 10px 5px;
    border-radius: inherit;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    background-image: linear-gradient(rgb(247, 248, 250), rgb(176, 190, 208));
    margin: 0;
}

form fieldset 
{
	color: #00005F;
	border: 1px solid #96A9C0;
	border-radius: 5px;
	line-height: 190%;
	margin: 8px 5px 5px 5px;  /* t, r, b, l */
	padding: 4px 7px 4px 7px;  /* t, r, b, l */
	box-sizing: border-box;
}

form legend 
{
	font-size: 14px;
	font-weight: bold;
	color: #07243E;
	padding: 0px 5px 0px 5px;  /* t, r, b, l */
	margin: 0px;
}

form legend img
{
	height: 12px;
}

form hr
{
    border: none;
    border-top: 1px solid #96A9C0;
}	

form label
{
	color: #00005F;
	display: block; 
}

input, textarea, select
{
	font-size: 12px;
	font-weight: normal;
	font-family: verdana, arial, helvetica, sans-serif;
}

form ::placeholder
{
	color: #96A9C0;
	opacity: 1;
}

form ::-ms-input-placeholder
{
	color: #96A9C0;
}
input[disabled], 
select[disabled], 
textarea[disabled]
{
	color:#000000;
	background-color:#EEEEEE;
}

textarea
{
	font-size: 12px;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #96A9C0;
}

input[type=checkbox]
{
	vertical-align: bottom;
	margin: 2px 4px 4px 0px;
}

input[type=submit], 
input[type=button], 
input[type=file], 
button
{
	border: 1px solid #1A3F6B;
	border-radius:3px;
	padding: 2px 10px;
	background: url(../images/button.png) repeat-x 0px 0px;
	margin: 5px 0 1px 0;
}

input[type=submit]:disabled, 
input[type=button]:disabled, 
input[type=file]:disabled,
button:disabled
{
	border: 1px solid #666666;
	color: #444444;
	background: url(../images/button-disabled.png) repeat-x 0px 0px;
}

input[type=submit]:hover:enabled, 
input[type=button]:hover:enabled, 
input[type=file]:hover:enabled, 
button:hover:enabled
{
	background: url(../images/button-hover.png) repeat-x 0px 0px;
}

input[readonly], 
select[readonly]
{
	color:#444444;
	background-color:transparent;
}

.error
{
	color: #ff0000;
}

.numeric
{
	font-family: 'Inconsolata', sans-serif !important;
	font-size: 14px !important;	/* Inconsolata appears smaller than 'normal' sans-serif */
}

.inputOK, .inputOK_R
{
	border: 1px solid #96A9C0;
}

.inputMand, .inputMand_R
{
	border: 1px solid #1A3F6B;
	background-color:#FFEEEE;
}

.inputError, .inputMError, .inputError_R, .inputMError_R
{
	border: 2px solid red;
}

.inputError:focus, .inputMError:focus, .inputError_R:focus, .inputMError_R:focus
{
	color: darkred;
	border: 2px solid red !important;
	outline: none;
 }

.inputOK_R, .inputMand_R, .inputError_R, .inputMError_R
{
	text-align:right;
}

.forminfo
{
	box-sizing: border-box;
	color: #00005F;
	border: 1px solid #96A9C0;
	border-radius: 5px;
	padding-left: 5px;
	background-color: #FFFFD2;
	margin: 4px 0px;
}

.formreadonly
{
	overflow: hidden;
	height: 20px;
	color: #444444;
	border: 1px solid #96A9C0;
	padding-left: 5px;
	background-color: transparent;
	margin: 0px 5px 0px 0px;
}

.sbSelect
{
	opacity: 0;
	width: 100%;
	position: relative;
}

.sbBtn
{
	position: absolute;
	width: 100%;
	right: 0px;
	top: 0px;
	padding-top: 0px;
	height: 20px;
	margin: 0;
}

#buttonbox
{
	clear: both;
	margin: 10px 0 0 0;
	padding:  10px 0px 10px 0px;	/* t, r, b, l */
	/* border-top: 1px solid #96A9C0; */
}

#buttonbox input[type=submit], #buttonbox input[type=button], #buttonbox input[type=file]
{
	margin-left:  3px; 
	margin-right: 3px; 
}

form img.picker
{
	margin-left: 5px;
	vertical-align: text-bottom;	
}

form img.picker_top
{
	margin-left: 5px;
	vertical-align: top;
	padding-top: 5px;	
}

form h4	/* used for line 'last modified' */
{
	font-size: 11px;
	font-weight:lighter;
	font-style:italic;
	text-align: right;
	color: #777777;
	margin: 5px 0px 0px 0px;  /* t, r, b, l */
	padding: 5px 10px 0px 5px;  /* t, r, b, l */
	border-top: 1px solid #96A9C0;  
}

form .lastmodified
{
	color:#444444;
	font-weight:600;
}

form .readonly
{
	color:#333333;
}

form .hint
{
	color: #333333;
	font-size: 10px;
	line-height: 150%;
	padding-top: 5px;
}

.info
{
	color:darkblue;
	font-size: 12px;
	background: url(../images/info.png) no-repeat right 1px;
	padding-left: 6px;
	padding-right: 6px;
	text-decoration: none;
}

#errorPopup
{
	display: none;
    position: absolute;
    width: calc(100% - 14px);
    border: 1px solid black;
    color: darkred;
    background: lightyellow url(../images/window_close.png) no-repeat right 5px top 5px;
    margin: 10px 7px;
    padding: 5px 25px 5px 5px;
    box-sizing: border-box;
    border-radius: 3px;
    font-weight: bold;
}

#JSError
{
	width: 80%;
	color: black;
	background-color: orange;
	border: 1px solid black;
    font-size: 1em;
}

#JSError h1
{
    background-color: #f57900;
    padding: 2px 4px;
    margin: 0px;
    border-bottom: 1px solid;
	color: black;
    font-size: 1em;
}

#JSError p
{
    margin: 5;
}

/** needed for 'modal' filemanager */
#fm-container
{
    z-index: 10011; /** Because CKEditor image dialog was at 10010 */
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    border: 1px solid black;;
    position: fixed;
	background-color: #DAE2E9;  
}

#fm-container h1
{
    width: calc(100% - 10px);
    background-color: #777777;
    margin: 5px 5px 0px 5px;
    padding: 4px 5px;
    height: 24px;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    background-image: url(../images/window_close.png);
	background-repeat: no-repeat;
    background-position: top 4px right 4px;
}

#fm-container h1 img
{
	float: right;
}

#fm-iframe
{
    width: 100%;
    height: calc(100% - 29px);
	border: none;
}

